<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WARP Charger protocol visualizer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vislog.css') }}">
    <script src="{{ url_for('static', filename='vislog.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='json-viewer.js') }}"></script>
</head>
<body>
    <label for="log-axis" onchange="log_axis_clicked();">
        <input type="checkbox" id="log-axis" name="log-axis" checked/>
        Y-Achse logarithmisch
    </label>
    <div style="height: 50vh; width: 100%;">
        <canvas id="warp_chart"></canvas>
    </div>

    <div class="tab">
        <button class="tablinks" onclick="open_tab(event, 'before-protocol-json')">Konfiguration vor dem Ladeprotokoll</button>
        <button class="tablinks" onclick="open_tab(event, 'after-protocol-json')">Konfiguration nach dem Ladeprotokoll</button>
        <button class="tablinks" onclick="open_tab(event, 'before-protocol-log')">Log vor dem Ladeprotokoll</button>
        <button class="tablinks" onclick="open_tab(event, 'after-protocol-log')">Log nach dem Ladeprotokoll</button>
    </div>
    <div id="before-protocol-json" class="tabcontent">
    </div>
    <div id="after-protocol-json" class="tabcontent">
    </div>
    <div id="before-protocol-log" class="tabcontent">
        <textarea id="before-protocol-log-text" rows="50">
        </textarea>
    </div>
    <div id="after-protocol-log" class="tabcontent">
        <textarea id="after-protocol-log-text" rows="50">
        </textarea>
    </div>
    <script>
        let data = {{ data | tojson}};
        vislog_protocol(data)
    </script>
</body>
</html>
